img{
  width: 100%;
}
.review{
  width: 90%;
  margin-left: 10px;
}
.bnb{
  width: 90%;
  margin-left: 10px;
}
.allinone{
  /* border-style: solid;
  margin-left: 10px; */
  /* width: 50%; */
  border-style: solid;
  width: 30%;
  /* height: 60vh; */
  margin-top: 100px;
  justify-content: space-around;
  }
.rate{
  margin-left: 10px;
}
.reviewer{
  margin-left: 10px;
}
.App{
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  justify-content: center;
}
.each{
  display: flex;
  justify-content: space-around;
}
.header{
  display: flex;
  justify-content: center;
  position: absolute;
}